body {
  background-color: var(--bege-claro);
  background-image: url(/img/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  
}

@media ( max-width:1000px) {
  body{
    background-image: none;
  }
}
