.content {
  color: var(--bege-escuro);
  min-height: 90vh;
  position: relative;
  text-align: center;
}

.titulo {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
}

.sorteio {
  display: inline-block;
  margin: 15px auto;
  width: auto;
}

.sorteio-texto {
  font-size: 1.5rem;
  line-height: 65px;
}
.input {
  border: transparent;
  border-radius: 5px;
  box-shadow: 0px 0px 30px -10px var(--bege-escuro);
  font-size: 1.7rem;
  height: 40px;
  text-align: center;
  width: 70px;
}

.sortear {
  margin-bottom: 50px;
}

.botao-sortear {
  background-color: var(--vermelho);
  border: transparent;
  border-radius: 50px;
  box-sizing: border-box;
  color: var(--branco);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 15px 0;
  width: 23%;
}

.resultado {
  font-size: 1.5rem;
}

.numero-sorteado {
  font-size: 3.5rem;
  font-weight: bold;
  height: 5rem;
  margin: 20px 0 50px 0;
}
.paragrafo-time {
  font-weight: 200;
  margin-bottom: 15px;
}
.data-hora-texto {
  font-weight: 700;
}
